<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="name" value="Files" />
		<add key="width" value="1280" />
		<add key="height" value="750" />
		<add key="hideconsole" value="true" />
	</appSettings>
</configuration>